server {
       listen 443 ssl;

       server_name grafana.{{ web.domain }};

       root /usr/share/nginx/html;
       index index.html;

        ssl_certificate      /etc/letsencrypt/live/grafana.{{ web.domain }}/fullchain.pem;
        ssl_certificate_key  /etc/letsencrypt/live/grafana.{{ web.domain }}/privkey.pem;

        ssl_session_cache    shared:SSL:1m;
        ssl_session_timeout  5m;

        ssl_ciphers  HIGH:!aNULL:!MD5;
        ssl_prefer_server_ciphers  on;

        location / {
            proxy_pass http://{{ daemon_ip }}:3000;
        }



}
