server {
       listen 443 ssl;

       server_name files.{{ web.domain }};

       root /usr/share/nginx/html;
       index index.html;

        ssl_certificate      /etc/letsencrypt/live/files.{{ web.domain }}/fullchain.pem;
        ssl_certificate_key  /etc/letsencrypt/live/files.{{ web.domain }}/privkey.pem;

        ssl_session_cache    shared:SSL:1m;
        ssl_session_timeout  5m;

        ssl_ciphers  HIGH:!aNULL:!MD5;
        ssl_prefer_server_ciphers  on;

        auth_basic "Protected file storage";
        auth_basic_user_file /etc/nginx/.htpasswd-files.{{ web.domain }};


        location /snapshots {
            alias /mnt/ict-storage/snapshots;
        }

}
